<h1>ALL YOUR FAVORITES</h1>

<% @favorites.each_slice(3) do |row| %>
  <div class="row">
    <% row.each do |e| %>
      <div class="col-sm-4">
        <div class="card">
          <%= image_tag(e.url, class: "card-img") %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to(e.url, favorite_path(e)) %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<a href="/favorites/new"><input type="button" value="Create New Favorite"></a>

