<h1>ADD ALL YOUR FAVORITES HERE!</h1>

<div class="containerB">
	<%= button_to "Add New Fav", new_favorite_path  %>
	<%= button_to("Go Back", users_path) %>
	<%= button_to("Edit", edit_user_path(@user)) %>
	<%= button_to("Delete", user_path(@user), method: "delete", data: {confirm: "Are you sure?"}) %>
<div>