<style>
    .container { 
        
    }

</style>

<div class="container">
    <h1>FAVI-APP</h1>
    <h2>Time to bookmark your online favorites!</h2> 
    <h3>Everything you like in one place: books, movies, trips, quotes, images, fashion and more.</h3>
</div>