<head>
    <style type="text/css">
    /* <%= stylesheet_link_tag  '' %> */
        .container { 
            /* background-image: url(""); */
            /* background-size: */
            
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>FAVI-APP</h1>
        <h2>Time to bookmark all your online favorites!</h2> 
        <h3>Everything you like in one place: books, movies, trips, quotes, images, fashion and more.</h3>
        <br />
        <button type="button" class="btn btn-dark">Log In</button>
        
        <button type="button" class="btn btn-dark">Sign Up</button>
    </div>
</body>

