@import "bootstrap";

body {
    background-image: url("https://image.freepik.com/free-vector/daily-life-and-monuments-black-icon-set_23-2147491854.jpg");
    background-size: cover; 
}

.container {
    width: 40%;
    height: 542px;
    border-top: 100px;
    background-color: #dc3545;
    float: right; 
}

h1, h3, h4 {
    text-align: center; 
}

h4 {
    font-style: Italic; 
}

label {
    text-align: left; 
}

title1, title2 {
    text-align: center; 
}





