@import "bootstrap";

body {
    background-image: url("https://image.freepik.com/free-vector/daily-life-and-monuments-black-icon-set_23-2147491854.jpg");
    background-size: cover; 
}

.container {
    width: 40%;
    height: 542px;
    border-top: 100px;
    background-color: #dc3545;
    float: right; 
}

h1, h2, h3, h4 {
    text-align: center; 
}

h4 {
    font-style: Italic; 
}

label {
    text-align: left; 
}

.container1A {
    width: 100%;
    height: 600px; 
    background-color: #dc354e;
}

.container2A {
    width: 40%;
    height: 500px;
    padding-top: 20px; 
    background-color: #dc3545;
    float: right; 
    line-height: 1.0;
}

.col-md-5 {
    text-align: center; 
}

.title1, .title2 {
    text-align: center; 
}

.containerB {
    width: 100%;
    height: 600px; 
    background-color: #dc354e;
}





